
/* Typography */ 

html {
    font-family: 'Fira Sans', sans-serif; 
}

h1, h2, h3 {
    font-weight: 600; 
}

p {
    font-weight: 300; 
    line-height: 18px; 
}


/* Layout */ 

.wrapper {
    width: 80%; 
    margin: 0 auto; 
}

.flex {
    display:flex;
    gap: 32px;  
}

#features > div {
    flex: 1; 
}

img {
    max-height: 300px; 
    width: auto; 
}

main section {
    padding: 60px 20px 0 20px; 
}

